{
	"singleQuote": true,
	"jsxSingleQuote": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"semi": true,
	"printWidth": 120,
	"useEditorConfig": false,
	"useTabs": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"prettier.requireConfig": true
}
