@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:wght@400;500&family=Roboto+Condensed:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white: #fff;
	--green: #5f7161;
}

* {
	box-sizing: border-box;
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0px;
	margin: 0px;
}

td {
	@apply px-3 py-2 text-left;
}
